body {
  /*position: absolute;*/
  background: #c4c4c4;
}
.register-div {
  margin: auto;
  margin-top: 3%;
  width: 40%;
  height: 80%;
  padding: 100px;

  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2d3748;
}
.heading_h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  /* 900 */

  color: #1a202c;
}
.forms_links:link {
  color: #0f56b3;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
